:root {
    --clr-yellow: rgba(254, 195, 61, 1);
    --clr-light-green: rgba(204, 226, 194, 1);
    --clr-gray: rgba(245, 245, 245, 0.48);
    --clr-dark-green: rgba(2, 164, 9, 0.43);
    --clr-white: rgba(255, 255, 255, 1);
    --clr-dark-grey: rgba(217, 217, 217, 1);
    --clr-double-green: rgba(1, 171, 8, 1);
    --clr-red: rgba(255, 122, 122, 1);
    --clr-green-earth: #D4D69F;
    --clr-dark-beige: #C5B1006E;
    --clr-dark-goldenrod: #C58800;
    --clr-pale-chestnut: #DBADAD;
    --clr-racing-red: #C50C006E;
    --clr-next-red: #C50000;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    /* height: 100svh; */
    line-height: 1.5;
    font-family: "Poppins", serif;
    background-color: var(--clr-light-green)
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

a {
    text-decoration-line: none;
}

.container {
    max-width: 1020px;
    margin-inline: auto;
    /* border: 1px solid rebeccapurple; */
    /* min-height: calc(100svh - 50px); */
}

.quiz-time-sound {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-align {
    text-align: end;
}

.summary {
    font-size: 2.1rem;
    font-weight: 600;
    display: inline-block;
    background-color: var(--clr-yellow);
    padding: 0.25rem 0.5rem;
    border-radius: 6px;
}

.quiz-container {
    margin: 1rem 0;
}

.question-card {
    background-color: var(--clr-gray);
    padding: 3.25rem 2.75rem;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 12px;
    position: relative;
    margin-left: 0.5rem;
}

.question-card::after {
    content: '';
    position: absolute;
    inset: 0;
    top: 0.25rem;
    bottom: 0.25rem;
    left: -0.5rem;
    background-color: inherit;
    border-radius: inherit;
    z-index: -1;
    right: 0.5rem;
}

.timer {
    display: inline-block;
    margin: 1.2rem 0 1.75rem 0;
    background-color: var(--clr-dark-green);
    font-size: 2.2rem;
    color: var(--clr-white);
    border-radius: 6px;
    padding: 4px 14px;
    position: relative;
}

.timer::after {
    position: absolute;
    content: '';
    background-color: inherit;
    inset: 0;
    border-radius: inherit;
    z-index: -1;
    top: 0.2rem;
    bottom: -0.2rem;
}

.choice {
    display: grid;
    gap: 2.2rem;
    background-color: var(--clr-gray);
    padding: 1.2rem 2rem 2rem 0.75rem;
    border-radius: 13px;
    position: relative;
    margin-left: 0.25rem;
}

.choice::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: inherit;
    border-radius: inherit;
    z-index: -1;
    left: -0.625rem;
    top: -0.5rem;
    right: 0.625rem;
    bottom: 0.5rem;
}

.answer {
    text-align: start;
    border: 3px solid var(--clr-dark-grey);
    border-radius: 8px;
    background-color: inherit;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 600;
    padding: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.choose .wrong.answer {
    border: 3px solid var(--clr-red);
}

.choose .correct.answer {
    border: 3px solid var(--clr-dark-green);
}

.next {
    display: inline;
    background-color: transparent;
    border: none;
    color: var(--clr-double-green);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.3;
    cursor: pointer;
}

.d-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1.2rem;
    font-weight: 400;
    font-size: 1.2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.green-earth {
    background-color: var(--clr-green-earth);
}

.pale {
    background-color: var(--clr-pale-chestnut);
}

.dark-beige {
    background-color: var(--clr-dark-beige);
}

.dark-goldenrod {
    color: var(--clr-dark-goldenrod);
}

.racing-red {
    background-color: var(--clr-racing-red);
}

.next-red {
    color: var(--clr-next-red)
}

/* audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-current-time-display,

audio::-webkit-media-controls-mute-button {
    display: none !important;
}

audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider {
    display: none !important;
}

audio::-webkit-media-controls-panel {
    background-color: transparent;
} */

.soundbar {
    cursor: pointer;
}