/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    /* height: 100svh; */
    line-height: 1.5;
    font-family: "Poppins", serif;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

a {
    text-decoration-line: none;
}

.start-container {
    max-width: 860px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    min-height: calc(100vh - 100px);
}

.btn-container {
    padding-right: 15px;
    padding-bottom: 13px;
    position: relative;
    border-radius: 8px;
}

.start-btn {
    font: inherit;
    font-weight: 600;
    cursor: pointer;
    background-color: rgba(53, 189, 58, 1);
    border-radius: inherit;
    color: white;
    padding: 1.25rem 0.75rem 1.3rem 3.8rem;
    border: none;
    font-size: 3.2em;
}

.btn-container::after {
    content: '';
    position: absolute;
    background-color: rgba(1, 171, 8, 1);
    inset: 0;
    border-radius: inherit;
    z-index: -1;
}

.container {
    max-width: 1020px;
    margin-inline: auto;
    border: 1px solid rebeccapurple;
    min-height: calc(100svh - 50px);
}

@media screen {}